* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-height: 550px;
    background-image: url(../img/Ganancias.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;


}

h1 {

    padding: 2rem;
}

h2 {
    color: rgb(29, 28, 28);

}

h3 {
    padding: 3rem;
    margin-top: 200px;
}

.boton {
    width: 500px;
    background-color: grey;
    border-radius: 15px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: rgb(246, 228, 228);
    padding: 1rem;
}

.boton:hover {
    background-color: white;
    color: black;
}